
@{
    ViewData["Title"] = "ResetPasswordConfrimation";
}

<h1>ResetPasswordConfrimation</h1>

<h2>
    your password has been reset successfuly
</h2>

<div>
    <a asp-action="Login" asp-controller="Account">Login</a>
</div>
